@font-face {
  font-family: 'Nexa-Bold';
  src: url("/fonts/Nexa-Bold.otf"); }

@font-face {
  font-family: 'Nexa-Light';
  src: url("/fonts/Nexa-Light.otf"); }

html, body {
  font-family: 'Nexa-Light';
  font-size: 16px; }

a, span {
  text-decoration: none;
  color: #222; }

.btn-primary {
  color: #FB7868;
  font-family: 'Nexa-bold';
  background-color: #fff;
  border-color: #fff; }

.btn-primary:hover {
  background-color: #FB7868;
  border-color: #FB7868;
  color: #fff; }

#index .left-box {
  height: 100vh;
  background-image: url("/assets/left-bg-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
  padding-top: 50px;
  position: relative; }
  #index .left-box .logo {
    background-image: url("/assets/logo.png");
    width: 78px;
    height: 48px;
    background-repeat: no-repeat;
    cursor: pointer; }
  #index .left-box .logo-flip {
    background-image: url("/assets/logo-flip.png");
    width: 78px;
    height: 48px;
    background-repeat: no-repeat;
    cursor: pointer; }
  #index .left-box .about {
    position: absolute;
    top: 40%; }
    #index .left-box .about h3 {
      font-size: 22px; }
    #index .left-box .about b {
      font-family: 'Nexa-Bold'; }
    #index .left-box .about .btn {
      margin-top: 30px; }
  #index .left-box .social-links ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    position: fixed;
    bottom: 40px; }
    #index .left-box .social-links ul li {
      float: left;
      padding-right: 20px;
      opacity: 0.3; }
    #index .left-box .social-links ul li:hover {
      opacity: 1;
      cursor: pointer; }

#index .right-box .cs-one {
  height: 50vh;
  background-image: url("/assets/one-bg.png");
  background-size: cover;
  padding: 0; }

#index .right-box .cs-two {
  height: 50vh;
  background-image: url("/assets/two-bg.png");
  background-size: cover;
  padding: 0; }

#index .right-box .cs-three {
  height: 50vh;
  background-image: url("/assets/three-bg.png");
  background-size: cover;
  padding: 0; }

#index .right-box .desc {
  font-family: 'Nexa-Light';
  width: 100%;
  height: 100%;
  background-image: url("/assets/left-bg.png");
  background-size: cover;
  position: relative;
  opacity: 0;
  color: #FFF;
  -vendor-animation-duration: 0.2s;
  -vendor-animation-delay: 0.2s; }
  #index .right-box .desc .desc-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; }

#index .right-box .desc:hover {
  opacity: 0.5;
  cursor: pointer; }
