@font-face {
    font-family: 'Nexa-Bold';
    src: url('/fonts/Nexa-Bold.otf')
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('/fonts/Nexa-Light.otf')
}

//Default

html, body {
    font-family: 'Nexa-Light';
    font-size: 16px;
}

a, span {
    text-decoration: none;
    color: #222;
}

//Elements
.btn-primary {
    color: #fff;
    font-family: 'Nexa-bold';
    background-color: #222;
    border-color: #222;
}

//Pages
#index {
    .left-box {
        height: 100vh;
        background-image: url('/assets/left-bg-02.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 100px;
        padding-top: 50px;
        .about {
            margin-top: 120px;
            h3 {
                font-size: 22px;
            }
            b {
                font-family: 'Nexa-Bold';
            }
            .btn {
                margin-top: 30px;
            }
        }
        .social-links {
            ul {
                list-style-type: none;
                display: inline-block;
                padding: 0;
                position: fixed;
                bottom: 40px;
                li {
                    float: left;
                    padding-right: 20px;
                    opacity: 0.3;
                }
                li:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
    .right-box {
        .cs-one {
            height: 50vh;
            background-image: url('/assets/one-bg.png');
            background-size: cover;
            padding: 0;
        }
        .cs-two {
            height: 50vh;
            background-image: url('/assets/two-bg.png');
            background-size: cover;
            padding: 0;
        }
        .cs-three {
            height: 50vh;
            background-image: url('/assets/three-bg.png');
            background-size: cover;
            padding: 0;
        }
        .desc {
            font-family: 'Nexa-Light';
            width: 100%;
            height: 100%;
            background-color: orangered;
            position: relative;
            opacity: 0;
            color: #FFF;
            -vendor-animation-duration: 0.2s;
            -vendor-animation-delay: 0.2s;
            .desc-cont {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 20px;
            }
        }
        .desc:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }
}
